a:hover,
a:active {
  color: rgb(255, 255, 255);
}

a {
  color: #888;
  text-decoration: none;
}

body {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

.pure-form legend {
  color: #fff;
}

.pure-menu-heading {
  color: #fff;
}

input,
select,
textarea {
  color: rgba(0, 0, 0, 1);
}

.pure-form input[type="file"] {
  color: #fff;
}

.navbar > .searchbar input {
  background-color: inherit;
  color: inherit;
}

button.pure-button-primary,
a.pure-button-primary,
.channel-owner:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  border: 1px solid white;
}

button.pure-button-primary:hover,
a.pure-button-primary:hover {
  background-color: #fff;
  color: rgb(0, 0, 0, 1);
}

.navbar > .searchbar .pure-form input[type="search"] {
  border-bottom: 1px solid #fff;
}

.video-js {
  border: 1px solid #fff;
}
